# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar
pom.xml

# IntelliJ IDEA
.idea/
*.iml

# Logs
*.log
*.pid

# Configuración del sistema operativo
.DS_Store
Thumbs.db
